body{
    background-size: cover;
    }
    #start,#status,#number_of_objects{
    font-size: 18px;
    }
    .heading{
    font-size:23px;
    width: 100%;
    margin: 0px;
    }
    .copy_right_footer{
    position: fixed;
    color:dimgrey;
    background-color: darkturquoise;
    bottom: 0px;
    width: 100%;
    line-height: 3;
    text-align:  center;
    }
    canvas{
    border:2px solid white;
    border-radius: 20px;
    margin-top: 130px;
    box-shadow:5px 5px 5px white;
    }
    h4{
    color:white;
    }